Tetris/ProbaC2/bin/
Tetris/ProbaC2/obj/
Tetris/ProbaC2.v12.suo
Tetris/MyFIgures/bin/
Tetris/MyFIgures/obj/
Tetris/MyFIgures/MyFIgures.v12.suo
Tetris/MyFIgures/MyFIgures.suo
Tetris/Achievments/bin/
Tetris/Achievments/obj/
Tetris/Achievments/Achievments.v12.suo
Tetris/Achievments/Achievments.suo
